/*
============================================
; Title: hartung-bobs-auto-repair.css
; Author: Professor Krasso
; Date: 3 February 2022
; Modified By: Joel Hartung
; Description: This is a CSS file used for Assignment 5.2
; Code Attribution: Additional code from the Assignment 5 document
;===========================================
*/

#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

i:hover {
    cursor: pointer;
}
