/*
============================================
; Title: Restaurant.css
; Author: Joel Hartung
; Date: 5 January 2022
; Description: This is the theme CSS file used for assignments 3.2 in WEB-330
;===========================================
*/

/* This styling displays the four menus in a grid */

#menu {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12px;
    row-gap: 12px;
    padding: 12px;
}
